body{
  border: 0;
  padding: 0;
  box-sizing: border-box;
  /*overflow: hidden;  #00a0f0 #1e314f*/
  background: linear-gradient(#00a0f0, #1e314f, #000000);
  background-size: 300% 300%;
  animation: time 12s linear infinite;
}
.logo{
  display:flex;
  height: 100vh;
  align-items:center;
  justify-content: center ;
}

#circle1{
  position: relative;
  left: -110px;
  animation: gears infinite linear 8s;
}
#circle2{
  position: relative;
  left: -100px;
  animation: gears infinite linear 8s;  
}
#circletop{
  position: relative;
  top: -144px;
  left: 180px;
  animation: gears infinite linear reverse 8s; 
}
svg{
    fill: #fff
}
#form{
  width: 240px;
  height: 390px;
  border: 30px solid #272727;
  border-bottom: 0;
  display: none;
  transform: translate(60px, -60px);
  border-radius: 100% 100% 0 0;
}

.logo span{
  font-size: 60px;
  color: white;
  position: absolute;
  transform: translate(-14px, 120px)
  
}
.sky{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.stars{
    width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 30px 30px white,
    400px 180px white,
    50px 320px white,
    600px 420px white,
    750px 230px white,
    800px 30px white,
    950px 100px white,
    150px 230px white,
    100px 30px white,
    950px 100px white,
    1000px 200px white;
  animation: stars 12s infinite linear ;
}
@keyframes gears{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes time{
    0%{background-position:0% 0%}
    50%{background-position: 91% 100%}
    100%{background-position: 0% 0%}
}

@keyframes stars{
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}
